<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">STOCK EXCHANGE</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/profile" class="nav-link" routerLink="profile">Profile </a>
      </li>

      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin/users" class="nav-link" routerLink="admin/users">Users</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin/create-user" class="nav-link" routerLink="admin/user/create">Add User</a>
      </li>

      <li class="nav-item" *ngIf="showOwnerBoard">
        <a href="/owner/exchanges" class="nav-link" routerLink="owner/exchanges">Exchanges</a>
      </li>

      <li class="nav-item" *ngIf="showClientBoard">
        <a href="/client/unemployed-brokers" class="nav-link" routerLink="client/unemployed-brokers">Unemployed Brokers</a>
      </li>
      <li class="nav-item" *ngIf="showClientBoard">
        <a href="/client/brokers" class="nav-link" routerLink="client/brokers">My Brokers</a>
      </li>
      <li class="nav-item" *ngIf="showClientBoard">
        <a href="/client/bids" class="nav-link" routerLink="client/bids">Bids</a>
      </li>

      <li class="nav-item" *ngIf="showBrokerBoard">
        <a href="/broker/bids" class="nav-link" routerLink="broker/bids">Bids</a>
      </li>
      <li class="nav-item" *ngIf="showBrokerBoard">
        <a href="/broker/deals" class="nav-link" routerLink="broker/deals">Deals</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link " (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
