<div class="col-md-12">
  <div class="card card-container">

  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="issuer">Issuer</label>
        <input name="issuer" [(ngModel)]="createBid.issuer" id="issuer"
               type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="type">Type</label>
        <select name="Type" [(ngModel)]="createBid.type" id="type"  class="form-control">
          <option value="Buy">Buy</option>
          <option value="Sale">Sale</option>
        </select>
      </div>
    </div>

    <div class="row">
    <div class="form-group col-md-4">
      <label for="amount">Amount</label>
      <input name="amount" [(ngModel)]="createBid.amount" id="amount"
             type="number" class="form-control" placeholder="Amount">
    </div>
    <div class="form-group col-md-4">
      <label for="minPrice">Min Price</label>
      <input name="minPrice" [(ngModel)]="createBid.minPrice" id="minPrice"
             type="number" class="form-control" placeholder="Min price">
    </div>
    <div class="form-group col-md-4">
      <label for="maxPrice">Max Price</label>
      <input name="max" [(ngModel)]="createBid.maxPrice" id="maxPrice"
             type="number" class="form-control" placeholder="Min price">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="priority">Priority</label>
      <select name="priority" [(ngModel)]="createBid.priority" id="priority" class="form-control">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Extra High">Extra High</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="status">Status</label>
      <select name="status" [(ngModel)]="createBid.status" id="status" class="form-control">
        <option value="Draft">Draft</option>
        <option value="Active">Active</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="broker">Broker</label>
      <select name="br" id="broker" [(ngModel)]="createBid.broker" class="form-control">
        <option *ngFor="let broker of brokers" [value]="broker.name">{{broker.name}}</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="dueDate">Due date</label>
      <input name="dueDate" [(ngModel)]="createBid.dueDate" id="dueDate" type="date" class="form-control"  placeholder="Due date">
    </div>
  </div>
  <button type="submit" class="btn btn-primary"
          (click)="onSubmit()" routerLink="/client/bids">Create</button>
</form>
  </div>
</div>
