<div class="list row">

    <h4>Brokers List</h4>

  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="isOperationFailed"
    >
       {{ response.message }}
    </div>
  </div>

    <table class="table">
      <thead>
      <tr>
        <th (click)="sortTable('id')" scope="col">#</th>
        <th (click)="sortTable('name')" scope="col">Name</th>
        <th (click)="sortTable('exchange')" scope="col">StockExchange</th>
        <th  scope="col">Count Of Completed Bids</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="
    let item of statistics | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          };
    let i = index;
  ">
        <td>{{currentItem-pageSize+i+1}}</td>
        <td>{{item.broker.name}}</td>
        <td>{{item.broker.exchange}}</td>
        <td>{{item.totalAmount}}</td>
        <td><button class="btn btn-dark" *ngIf="!item.broker.isEmploy" (click)="dismiss(item.broker)" >Dismiss</button>
            <button class="btn btn-primary" *ngIf="item.broker.isEmploy" (click)="employ(item.broker)" >Employ</button></td>
      </tr>
      </tbody>
    </table>

  <div class="col-md-12">
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>

    <div class="d-inline-block">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        responsive="true"
        (pageChange)="handlePageChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
