<div class="row">
  <div class=" col-md-2">
    <div class="card-header py-1">
      <strong>
        Current Bid
      </strong>
    </div>
    <ul class="list-group list-group-flush" style="font-size: 12px;">
      <li class="list-group-item py-1"><strong>Issuer: </strong>{{bid.issuer}}</li>
      <li class="list-group-item py-1"><strong>Amount: </strong>{{bid.amount}}</li>
      <li class="list-group-item py-1"><strong>Min Price: </strong>{{bid.minPrice}}</li>
    </ul>
  </div>
<div class="col-md-10 ">
  <table class="table">
    <thead>
    <tr>
      <th (click)="sortTable('bidNumber')" scope="col">Bid number</th>
      <th (click)="sortTable('issuer')" scope="col">Issuer</th>
      <th (click)="sortTable('amount')" scope="col">Amount</th>
      <th scope="col">Price</th>
      <th (click)="sortTable('broker')" scope="col">Broker</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="
    let bid of bids | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }">
      <td>{{bid.bidNumber}}</td>
      <td>{{bid.issuer}}</td>
      <td>{{bid.amount}}</td>
      <td>{{bid.price}}</td>
      <td>{{bid.broker}}</td>
      <td>
        <button (click)="createDeal(bid.id, bid.price)" class="btn btn-dark btn-sm">Make a Deal</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<div class=" col-md-12">
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
      {{ size }}
    </option>
  </select>

  <div class="d-inline-block">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>
</div>

<div class="col-md-4">

</div>

