<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th  scope="col">Date</th>
    <th  scope="col">Count of deals</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="
    let item of statistics | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          };
    let i = index;
  ">
    <td>{{currentItem-pageSize+i+1}}</td>
    <td>{{item.date}}</td>
    <td>{{item.totalPrice}}</td>
  </tr>
  </tbody>
</table>

<div class="col-md-12">
  Items per Page:
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
      {{ size }}
    </option>
  </select>

  <div class="d-inline-block">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>
</div>
