<button class="btn btn-primary btn-sm create" routerLink="/owner/create-exchange">Create Stock Exchange</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">StockExchange</th>
      <th scope="col">Status</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exchange of exchanges; let i = index">
      <td>{{i+1}}</td>
      <td>{{exchange.exchangeName}}</td>
      <td>{{exchange.status}}</td>
      <td>{{exchange.description}}</td>
      <td><button class="btn btn-dark btn-sm" routerLink="/exchange-details/{{ exchange.id }}">Profile</button></td>
    </tr>
  </tbody>
</table>
