<div class="list row">
  <button class="btn btn-primary btn-sm" routerLink="/client/create-bid">Create Bid</button>
  <div class="col-md-12">
    <pagination-controls
     previousLabel="Prev"
     nextLabel="Next"
     responsive="true"
    (pageChange)="handlePageChange($event)">
    </pagination-controls>
  </div>

    <h4>Brokers List</h4>

    <table class="table">
      <thead>
        <tr>
          <th (click)="sortTable('bidNumber')" scope="col">Bid number</th>
          <th (click)="sortTable('issuer')" scope="col">Issuer</th>
          <th (click)="sortTable('amount')" scope="col">Amount</th>
          <th (click)="sortTable('minPrice')" scope="col">Min price</th>
          <th (click)="sortTable('maxPrice')" scope="col">Max price</th>
          <th (click)="sortTable('priority')" scope="col">Priority</th>
          <th (click)="sortTable('status')" scope="col">Status</th>
          <th (click)="sortTable('creationDate')" scope="col">Creation Date</th>
          <th (click)="sortTable('dueDate')" scope="col">Due date</th>
          <th (click)="sortTable('broker')" scope="col">Broker</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
    let bid of bids | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }">
          <td>{{bid.bidNumber}}</td>
          <td>{{bid.issuer}}</td>
          <td>{{bid.amount}}</td>
          <td>{{bid.minPrice}}</td>
          <td>{{bid.maxPrice}}</td>
          <td>{{bid.priority}}</td>
          <td>{{bid.status}}</td>
          <td>{{bid.creationDate}}</td>
          <td>{{bid.dueDate}}</td>
          <td>{{bid.broker}}</td>
          <td><button class="btn btn-dark" [routerLink]="['/client/bid-details/', bid.id]">Edit</button></td>
        </tr>
      </tbody>
    </table>

  <div class="col-md-6">
    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>
