<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
            type="radio"
            name="role"
            id="clientRole"
            value="ROLE_CLIENT"
            (click)="isBrokerRole()"
            [(ngModel)]="form.role">
          <label class="form-check-label" for="clientRole">client</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
            type="radio"
            name="role"
            id="ownerRole"
            value="ROLE_OWNER"
            (click)="isBrokerRole()"
            [(ngModel)]="form.role">
          <label class="form-check-label" for="ownerRole">owner</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
            type="radio"
            name="role"
            id="brokerRole"
            value="ROLE_BROKER"
            [(ngModel)]="form.role"
          (click)="showExchange()">
          <label class="form-check-label" for="brokerRole">broker</label>
        </div>
        <div *ngIf="isBroker" class="form-group">
          <label for="exchange">Stock Exchange</label>
          <select name="br" id="exchange" [(ngModel)]="form.exchange" class="form-control"
                  #exchange="ngModel" required>
            <option *ngFor="let exchange of exchanges" [value]="exchange.exchangeName">{{exchange.exchangeName}}</option>
          </select>

          <div class="alert-danger" *ngIf="f.submitted && exchange.invalid">
            <div *ngIf="exchange.errors.required">Stock Exchange is required</div>
          </div>
        </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>

    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
